<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/lib/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/lib/dist/css/bootstrap-table.min.css"/>
    <script src="static/lib/jq/jquery-2.1.4.min.js"></script>
    <script src="static/lib/dist/js/bootstrap.min.js"></script>
    <script src="static/lib/dist/js/bootstrap-table.min.js"></script>
</head>

<style>

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: url("static/lib/dist/img/kate.JPG") no-repeat;
        background-size: cover;
    }
</style>
<body>

</body>

</html>