<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/lib/dist/css/bootstrap.min.css"/>
</head>

<style>
    .progress-container {
        margin-top: 10px;
    }

    .form-group-left {
        float: left;
    }

    .form-group-right {
        float: right;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h2>
                    <em><em>Lotto Extreme Statistics</em></em>
                </h2>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Lottery</a>
                </li>
                <li class="disabled">
                    <a href="#">Statistics</a>
                </li>
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">下拉</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">操作</a>
                        </li>
                        <li>
                            <a href="#">设置栏目</a>
                        </li>
                        <li>
                            <a href="#">更多设置</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">分割线</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="progress-container">

                <div class="page-header">
                    <h1>Extreme Top List <small> make your fortunes here</small></h1>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="progress-text">40% Complete (success)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="progress-text">20% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="progress-text">60% Complete (warning)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="progress-text">80% Complete (danger)</span>
                    </div>
                </div>
            </div>

            <hr/>

            <div>
                <form class="form-inline">
                    <div class="form-group form-group-left">
                        <label for="OddsInput">Odds</label>
                        <input type="text" class="form-control" id="OddsInput" placeholder="1.96">
                        <input class="btn btn-default" type="button" value="-" onclick="alert(1)">
                        <input class="btn btn-default" type="button" value="+" onclick="alert(2)">
                    </div>
                    <div class="form-group form-group-right">
                        <label for="ExpectancyInput">Expectancy</label>
                        <input type="text" class="form-control" id="ExpectancyInput" placeholder="10%">
                        <input class="btn btn-default" type="button" value="-">
                        <input class="btn btn-default" type="button" value="+">
                    </div>
                </form>
                <table class="table table-bordered">
                    <caption>Suggested Bet Plan List</caption>
                    <thead>
                    <tr>
                        <th>Sequence</th>
                        <th>Bet</th>
                        <th>Cost</th>
                        <th>Expectancy</th>
                        <th>Odds</th>
                        <th>Bonus</th>
                        <th>Profit</th>
                        <th>Return Rate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>1</td>
                        <td>1.96</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mumbai</td>
                        <td>400003</td>
                        <td>1</td>
                        <td>1.96</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Pune</td>
                        <td>411027</td>
                        <td>1</td>
                        <td>1.96</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="static/lib/dist/jquery.js"></script>
<script src="static/lib/dist/js/bootstrap.min.js"></script>
<script>
    ;(function() {
        button_event();
    })();

    function button_event() {
        console.log($('.btn.btn-default'));
    }

    function sync_progress() {

        $('.progress-text').each(function () {
            let text = $(this).text();
            let num = text.split("%")[0];
            num ++;
            if (num > 100) {
                num = 0;
            }

            if (num >= 80) {
                $(this).parent().css({'transition':'all .1s linear'});
                $(this).parent().attr('class','progress-bar progress-bar-danger progress-bar-striped active');
                $(this).text(num + '% Complete (DANGER)');
            } else if (num >= 60 && num < 80) {
                $(this).parent().css({'transition':'all .1s linear'});
                $(this).parent().attr('class','progress-bar progress-bar-warning progress-bar-striped active');
                $(this).text(num + '% Complete (WARNING)');
            } else if (num >= 40 && num < 60) {
                $(this).parent().css({'transition':'all .1s linear'});
                $(this).parent().attr('class','progress-bar progress-bar-info progress-bar-striped active');
                $(this).text(num + '% Complete (WATCHING)');
            } else if (num >= 20 && num < 40) {
                $(this).parent().css({'transition':'all .1s linear'});
                $(this).parent().attr('class','progress-bar progress-bar-success progress-bar-striped active');
                $(this).text(num + '% Complete (PEACE)');
            } else {
                $(this).parent().css({'transition':'all .1s linear'});
                $(this).parent().attr('class','progress-bar progress-bar-success active');
                $(this).text(num + '% Complete (NORMAL)');
            }

            $(this).parent().css({'width':num+'%'});
        });
    }
</script>
</body>
</html>